{% extends "site_base.html" %}
{% block title %}
    {{ posterboard.title }} | Flink
{% endblock %}
{% block extra_head %}
    {{ block.super }}

{% endblock %}
{% block content %}
        {% if blog_owner %}
        <link href="{{ STATIC_URL }}css/editbar.css" type='text/css' rel='stylesheet' />
        {% endif %}
        <script type="text/javascript">
            var pbid = "#posterboard{{posterboard.id}}";
            var canvas;
            var ctx;
            //var gridArray = [{{gridwidth}}, {{gridheight}}];
            var gridArray = [40,40];
            
            {% if blog_owner %}
            var sidebar_out = 0;
            
            // Changing this will break css.
            var sidebartab_id = "#edit_toggle";
            var sidebarcontent_id = "#editbar_contents";
            
            var elementsthatchanged= [];
            var eid = -1;
            
            var selectedelementid = '';
            var validselect = false;
            {% endif %}
            
            $(document).ready(function(){
                //canvas = document.getElementById("posterboard{{posterboard.id}}");
                //ctx = canvas.getContext("2d");
                
                {% if blog_owner %}
                $(sidebartab_id).click(function(){
                    $(sidebarcontent_id).animate({ "width":"toggle"},{duration:400,queue:false});
     
                    if(sidebar_out == 0){
                        $(sidebartab_id).html($(sidebartab_id).html().replace(/(\.[^.]+)$/, '-active$1'));
                        $( ".element-class" ).draggable( "option", "disabled", false );
                        $( ".element-class" ).resizable( "option", "disabled", false );
                        $( '#edit-status' ).text('Editing Mode');
                        sidebar_out = 1;
                    }
                    else{
                        $(sidebartab_id).html($(sidebartab_id).html().replace(/-active(\.[^.]+)$/, '$1'));
                        $( ".element-class" ).draggable( "option", "disabled", true );
                        $( ".element-class" ).resizable( "option", "disabled", true );
                        $( '#edit-status' ).text('Viewing Mode');
                        sidebar_out = 0;
                    }
                });
                // http://www.kelvinluck.com/assets/jquery/jScrollPane/jScrollPane.html
                // $("#scrollbar_container").jScrollPane();
                
                $('#image_upload').click(function() {
                    jQuery.fn.modalBox("close");
                    jQuery.fn.modalBox({
                        directCall : { element: '#image_upload_form_wrapper' }
                    });
                });
                
                // AJAX REQUEST
                /*$('#image_upload_form').ajaxForm({ 
                   success: image_upload_callback, 
                   dataType: 'json',
                   type: 'post',
                });*/
                
                {% endif %}
                
                /*-----------------------
                  Populating elements
                ----------------------- */
                var jsonstring = "{% autoescape off %}{{ element_data }}{%  endautoescape %}";
                jsonstring = jsonstring.replace(/'/g,'"');
                var elementsToAdd = JSON.parse(jsonstring);
                
                var elementstyles =  'display:block;cursor:pointer;position:relative;';
                
                var element, state, typestate, domstring;
                $.each(elementsToAdd, function(index, elementdata) {
                    element = elementdata[0];
                    state = elementdata[1];
                    typestate = elementdata[2];
                    
                    if(element.fields.type == 'image') {
                        domstring = "<img src='{{ MEDIA_URL }}"+ typestate.fields.image +
                                    "' alt='"+ typestate.fields.alt +
                                    "' width='" + (state.fields.position_width * gridArray[0]) +
                                    "' height='" + (state.fields.position_height * gridArray[1]) +
                                    "' id='element" + element.pk +
                                    "' style='" + elementstyles +
                                       "left:"+ (state.fields.position_x * gridArray[0]) + ";"+
                                       "top:"+ (state.fields.position_y * gridArray[0]) + ";"+
                                    "' title='" + state.pk +
                                    "' class='element-class " +
                                    {% if blog_owner %}
                                    " ui-state-disabled " +
                                    {% endif %}
                                    "'>";
                        domstring = "<div id='element" + element.pk +
                                    "' style='" + elementstyles +
                                       "left:"+ (state.fields.position_x * gridArray[0]) + ";"+
                                       "top:"+ (state.fields.position_y * gridArray[0]) + ";"+
                                       "width:" + (state.fields.position_width * gridArray[0]) +";"+
                                       "height:" + (state.fields.position_height * gridArray[1]) +";"+
                                    "' title='" + state.pk +
                                    "' class='element-class " +
                                    {% if blog_owner %}
                                    " ui-state-disabled " +
                                    {% endif %}
                                    "'>"+
                                    "<img src='{{ MEDIA_URL }}"+ typestate.fields.image +
                                    "' style='width:100%;height:100%;"+
                                    "' alt='"+ typestate.fields.alt +
                                    "'></div>";
                        $(pbid).append(domstring);
                        {% if blog_owner %}
                        make_element_interactive("#element"+ element.pk);
                        {% endif %}
                    }
                });
                
                {% if blog_owner %}
                /*-----------------------
                  Changing elements
                ----------------------- */
               
                $(document).mousedown(function(){
                   if(!validselect) {
                       selectedelementid = '';
                   }
                   validselect = false; 
                });
               
                $(document).keydown(function(event) {
                    // DEL
                    if (event.keyCode == 46 && selectedelementid != '') {
                        $.ajax({
                            url: 'elements/'+selectedelementid.substr(7)+'.json',
                            data: {
                                'csrfmiddlewaretoken': '{{csrf_token}}',
                                '_action': 'delete'
                            },
                            method: 'get',
                            success: function() { $("#"+selectedelementid).remove(); },
                        }); 
                    } 
                });
               
                $("#save-changes").click(function(){
                    // Assumes eid is set to some value.
                    if(eid == -1) {
                        return;
                    }
                    
                    $.ajax({
                       url: 'elements/'+eid+'.json',
                       dataType: 'json',
                       data: {
                           'opacity': 1,
                           'position_width': $("#element"+eid).width(),
                           'position_height': $("#element"+eid).height(),
                       }                        
                    });
                    
                    eid = -1;
                });
                {% endif %}
                
            });
            
            {% if blog_owner %}
            function image_upload_callback(responseText, statusText, xhr) {
                if(xhr.status < 200 || xhr.status > 299) {
                    $("#image_upload_form .form-submit-errors")
                        .html('An error occured while uploading the file: ' + responseText.errors);
                    $("#image_upload_form").effect("highlight", {}, 3000);
                }
                else {
                    $("#image_upload_form_wrapper .form-submit-errors").html('');
                    add_image_to_posterboard(responseText);
                    jQuery.fn.modalBox("close");
                }
            }
            
            function add_image_to_posterboard(responseText) {
                var id = responseText.element_id;
                $(pbid).append(responseText.content);
                make_element_interactive("#element"+id);
                update_element("#element"+id);
            }
            
            function make_element_interactive(selector) {
               $(selector).draggable({ 
                    containment: pbid, 
                    disabled: true,
                    scroll: false,
                    grid: gridArray,
                    stack: pbid +" div,img",
                    stop: function(event, ui) { update_element("#"+$(this).attr('id')); },
                }).resizable({
                    grid: gridArray,
                    containment: pbid,
                    disabled: true,
                    stop: function(event, ui) { update_element("#"+$(this).attr('id')); },
                    //animate: true,
                });
                
                $(selector).mousedown(function(){
                    selectedelementid = $(this).attr('id');
                    validselect = true; 
                });
                
               /*
               $(selector).mouseup(function(){
                   //For now, also call the update element method right here.
                   update_element(selector);       
                   return;
                   
                   for(var i=0; i<elementsthatchanged.length; i++) {
                       if(a[i] == selector.substr(1)) {
                           return;
                       }
                   }
                   elementsthatchanged.push(selector.substr(1));
               });
               */
            }
            
            function update_element(selector) {
                $.ajax({
                   url: 'elements/'+selector.substr(8)+'.json',
                   data: {
                       'csrfmiddlewaretoken': '{{csrf_token}}',
                       '_action': 'put',
                       'element-type': 'image',
                       'element-id': parseInt(selector.substr(8)),
                       'state-id': $(selector).attr('title'),
                       'state-position_width': parseInt($(selector).width() / gridArray[0]),
                       'state-position_height': parseInt($(selector).height() / gridArray[1]),
                       'state-position_x': parseInt(($(selector).position().left - $(pbid).position().left) / gridArray[0]),
                       'state-position_y': parseInt(($(selector).position().top - $(pbid).position().top) / gridArray[1]),
                   },
                   dataType: 'json',
                   success: function() { $(selector).effect("highlight", {}, 1000); },
                   type: 'post'
                });
            }
            
            {% endif %}
        </script>
    <div id='content'>
       {% if blog_owner %}
       <div id="editbar">
           <a href="javascript:void(0);" id="edit_toggle"><img src="{{ STATIC_URL }}images/spacer.gif"></a>
           <div id="editbar_contents" style="display: none">
               <div id="editbar_contents_inner">
                   <div id="scrollbar_container">
                       <div id="scrollbar_content">
                           <button id="image_upload">Add Image</button>
                           <!--<button id="save-changes">Save Changes to Posterboard</button>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div style="display:none" id="image_upload_form_wrapper">
           <form action='elements/' id="image_upload_form" name="image_upload_form" method="post"
            enctype="multipart/form-data">
               <div class="form-submit-errors"></div>
               {% csrf_token %}
               <input type="hidden" name="element-type" value="image">
               Image: <input type="file" id="upload-image-field" name="image"><br>
               <input type="submit" id="image_upload_button" value="Upload Image">
           </form>
       </div>
       {% endif %}
      <!--<canvas id="posterboard{{posterboard.id}}" width="960px" height="900px" class='grid pbgrid'>
      </canvas>-->
      {% if blog_owner %}
      <p align='center' style="text-align:center" id="edit-status">Viewing Mode</p>
      <p align='center' class="editing-mode-info" style="display:block;">
          Use left sidebar to switch modes.The elements cannot be edited while in Viewing Mode.<br>
          This is to prevent accidental editing. Elements appear lighter in viewing mode.
       </p>
       <p align='center' class="editing-mode-info" style="display:block;">
           Select an element by clicking on it. You can delete an element by hitting the Delete key after you select it. <br>
           Feel free to drag and drop elements about. They will be saved automatically.
      </p>
      {% endif %}
      <div id="posterboard{{posterboard.id}}" class='grid pbgrid'>
	<!-- 
	     There shouldn't be any hardcoded elements here.
	     All elements must be carefully added via jQuery and kept track of.
	     When an element is added or removed, their unique, randomly generated IDs
	     must be stored in javascript and regularly transmitted to the server
	     in an attempt to 'save' the current state of the elements.
	     All elements must be draggable, resizeable and extend properties that make
	     them editable.
	  --> 
      </div>      
      <div style="display:none" id="hidden-store">
      </div>
    </div>
{% endblock %}
