{% extends "site_base.html" %}
{% block title %}
    {{ posterboard.title }} | Flink
{% endblock %}
{% block extra_head %}
    {{ block.super }}

{% endblock %}
{% block content %}
        {% if blog_owner %}
        <link href="{{ STATIC_URL }}css/editbar.css" type='text/css' rel='stylesheet' />
        {% endif %}
        <script type="text/javascript">
            var pbid = "#posterboard{{posterboard.id}}";
            var canvas;
            var ctx;
            //var gridArray = [{{gridwidth}}, {{gridheight}}];
            var gridArray = [40,40];
            
            {% if blog_owner %}
            var sidebar_out = 0;
            
            // Changing this will break css.
            var sidebartab_id = "#edit_toggle";
            var sidebarcontent_id = "#editbar_contents";
            
            var elementsthatchanged= [];
            var eid = -1;
            
            var selectedelementid = '';
            var validselect = false;
            {% endif %}
            
            $(document).ready(function(){
                //canvas = document.getElementById("posterboard{{posterboard.id}}");
                //ctx = canvas.getContext("2d");
                
                {% if blog_owner %}
                $(sidebartab_id).click(function(){
                    $(sidebarcontent_id).animate({ "width":"toggle"},{duration:400,queue:false});
     
                    if(sidebar_out == 0){
                        $(sidebartab_id).html($(sidebartab_id).html().replace(/(\.[^.]+)$/, '-active$1'));
                        $( ".element-class" ).draggable( "option", "disabled", false );
                        $( ".element-class" ).resizable( "option", "disabled", false );
                        $( '#edit-status' ).text('Editing Mode');
                        sidebar_out = 1;
                        $("textarea:enabled").removeAttr('readonly');
                    }
                    else{
                        $(sidebartab_id).html($(sidebartab_id).html().replace(/-active(\.[^.]+)$/, '$1'));
                        $( ".element-class" ).draggable( "option", "disabled", true );
                        $( ".element-class" ).resizable( "option", "disabled", true );
                        $( '#edit-status' ).text('Viewing Mode');
                        sidebar_out = 0;
                        $("textarea:enabled").attr('readonly','readonly');
                    }
                });
                // http://www.kelvinluck.com/assets/jquery/jScrollPane/jScrollPane.html
                // $("#scrollbar_container").jScrollPane();
                
                $('#image_upload').click(function() {
                    jQuery.fn.modalBox("close");
                    jQuery.fn.modalBox({
                        directCall : { element: '#image_upload_form_wrapper' }
                    });
                });
    
                $('#text_upload').click(function() {
                    $('#text_upload_form').submit();
                });
                
                {% endif %}
                
                /*-----------------------
                  Populating elements
                ----------------------- */
                var jsonstring = "{% autoescape off %}{{ element_data }}{%  endautoescape %}";
                jsonstring = jsonstring.replace(/'/g,'"');
                var elementsToAdd = JSON.parse(jsonstring);
                
                var elementstyles =  'display:block;cursor:pointer;position:relative;';
                
                var element, state, typestate, domstring;
                $.each(elementsToAdd, function(index, elementdata) {
                    element = elementdata[0];
                    state = elementdata[1];
                    typestate = elementdata[2];
                    
                    if(element.fields.type == 'image') {
                        domstring = "<div id='element" + element.pk + "'" +
                                       " element-type='image'"+
                                       " style='" + elementstyles +
                                       " left:"+ (state.fields.position_x * gridArray[0]) + ";"+
                                       " top:"+ (state.fields.position_y * gridArray[0]) + ";"+
                                       " width:" + (state.fields.position_width * gridArray[0]) +";"+
                                       " height:" + (state.fields.position_height * gridArray[1]) +";"+
                                    "' title='" + state.pk +
                                    "' class='element-class " +
                                    {% if blog_owner %}
                                    " ui-state-disabled " +
                                    {% endif %}
                                    "'>"+
                                    "<img id='state" + state.pk + 
                                    "' child-id='" + typestate.pk + 
                                    "' src='{{ MEDIA_URL }}"+ typestate.fields.image +
                                    "' style='width:100%;height:100%;"+
                                    "' alt='"+ typestate.fields.alt +
                                    "'></div>";
                    }
                    else if(element.fields.type == 'text') {
                        var domtext =   "<textarea " +  
                                    "  class='text-class' " +
                                    "  readonly='readonly' " +
                                    "  id='state" + state.pk +
                                    "' child-id='" + typestate.pk +
                                    "' style='width:100%;height:100%;'>"+
                                    typestate.fields.content +
                                    "</textarea></div>";
                        
                        domstring = "<div id='element" + element.pk + "'" +
                                       " element-type='text'"+
                                       " style='" + elementstyles +
                                       " left:"+ (state.fields.position_x * gridArray[0]) + ";"+
                                       " top:"+ (state.fields.position_y * gridArray[0]) + ";"+
                                       " width:" + (state.fields.position_width * gridArray[0]) +";"+
                                       " height:" + (state.fields.position_height * gridArray[1]) +";"+
                                    "' title='" + state.pk +
                                    "' class='element-class " +
                                    {% if blog_owner %}
                                    " ui-state-disabled " +
                                    {% endif %}
                                    "'>"+domtext;
                    }

                    $(pbid).append(domstring);
                    {% if blog_owner %}
                    make_element_interactive("#element"+ element.pk);
                    {% endif %}
                });
                
                {% if blog_owner %}
                /*-----------------------
                  Changing elements
                ----------------------- */
               
                $(document).mousedown(function(){
                   if(!validselect) {
                       selectedelementid = '';
                   }
                   validselect = false; 
                });
               
                $(document).keydown(function(event) {
                    // DEL
                    if (event.keyCode == 46 && selectedelementid != '') {
                        $.ajax({
                            url: 'elements/'+selectedelementid.substr(7)+'.json',
                            data: {
                                'csrfmiddlewaretoken': '{{csrf_token}}',
                                '_action': 'delete'
                            },
                            method: 'get',
                            success: function() {$('#'+selectedelementid).remove(); },
                        });
                    } 
                });
               
                $("#save-changes").click(function(){
                    // Assumes eid is set to some value.
                    if(eid == -1) {
                        return;
                    }
                    
                    $.ajax({
                       url: 'elements/'+eid+'.json',
                       dataType: 'json',
                       data: {
                           'opacity': 1,
                           'position_width': $("#element"+eid).width(),
                           'position_height': $("#element"+eid).height(),
                       }                        
                    });
                    
                    eid = -1;
                });
                {% endif %}
                
            });
            
            {% if blog_owner %}           
            function make_element_interactive(selector) {
               $(selector).draggable({ 
                    containment: pbid, 
                    disabled: true,
                    scroll: false,
                    grid: gridArray,
                    stack: pbid +" div,img,text",
                    stop: function(event, ui) { update_element("#"+$(this).attr('id')); },
                }).resizable({
                    grid: gridArray,
                    containment: pbid,
                    disabled: true,
                    stop: function(event, ui) { update_element("#"+$(this).attr('id')); },
                    //animate: true,
                });
                
                $(selector).mousedown(function(){
                    selectedelementid = $(this).attr('id');
                    validselect = true; 
                });
                
                $(selector).focusout(function(){
                    if ($(selector).draggable("option","disabled") == false) {
                        update_element(selector);
                    }
                });
                
               /*
               $(selector).mouseup(function(){
                   //For now, also call the update element method right here.
                   update_element(selector);       
                   return;
                   
                   for(var i=0; i<elementsthatchanged.length; i++) {
                       if(a[i] == selector.substr(1)) {
                           return;
                       }
                   }
                   elementsthatchanged.push(selector.substr(1));
               });
               */
            }
            
            function update_element(selector) 
            {
                // Populate Appropriate Fields
                var elementData = {};
                elementData['csrfmiddlewaretoken'] = '{{csrf_token}}';
                elementData['_action']='put';
                elementData['element-type']=$(selector).attr('element-type');
                elementData['element-id']=parseInt(selector.substr(8));
                elementData['state-id']=$(selector).attr('title');
                elementData['state-position_width']=parseInt($(selector).width() / gridArray[0]);
                elementData['state-position_height']=parseInt($(selector).height() / gridArray[1]);
                elementData['state-position_x']=parseInt(($(selector).position().left - $(pbid).position().left) / gridArray[0]);
                elementData['state-position_y']=parseInt(($(selector).position().top - $(pbid).position().top) / gridArray[1]);
                
                var child = $('#state'+$(selector).attr('title')); 
                if ($(selector).attr('element-type') == 'image') 
                {
                    elementData['image-alt'] = child.attr('alt');
                }
                else if ($(selector).attr('element-type') == 'text')
                {
                    elementData['text-content'] = child.val();                    
                }
                elementData['child-id']=child.attr('child-id');
                
                $.ajax({
                   url: 'elements/'+selector.substr(8)+'.json',
                   data: elementData,
                   dataType: 'json',
                   success: function() { $(selector).effect("highlight", {}, 1000); },
                   type: 'post',
                });
            }
            
            {% endif %}
        </script>
    <div id='content'>
       {% if blog_owner %}
       <div id="editbar">
           <a href="javascript:void(0);" id="edit_toggle"><span id="edit_toggle_text">Edit Bar</span></a>
           <div id="editbar_contents" style="display: none">
               <div id="editbar_contents_inner">
                   <div id="scrollbar_container">
                       <div id="scrollbar_content">
                           <button id="image_upload">Add Image</button>
                           <button id="text_upload">Add Text</button>
                           <!--<button id="save-changes">Save Changes to Posterboard</button>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div style="display:none" id="image_upload_form_wrapper">
           <form action='elements/' id="image_upload_form" name="image_upload_form" method="post"
            enctype="multipart/form-data">
               <div class="form-submit-errors"></div>
               {% csrf_token %}
               <input type="hidden" name="element-type" value="image">
               Image: <input type="file" id="upload-image-field" name="image"><br>
               <input type="submit" id="image_upload_button" value="Upload Image">
           </form>
       </div>
       <div style="display:none" id="text_upload_form_wrapper">
           <form action='elements/' id="text_upload_form" name="text_upload_form" method="post"
            enctype="multipart/form-data">
               <div class="form-submit-errors"></div>
               {% csrf_token %}
               <input type="hidden" name="element-type" value="text">
               <textarea name='text-content'>Enter Text Here.</textarea>
               <input type="submit" id="text_upload_button" value="Upload Text">
           </form>
       </div>
       {% endif %}
      <!--<canvas id="posterboard{{posterboard.id}}" width="960px" height="900px" class='grid pbgrid'>
      </canvas>-->
      {% if blog_owner %}
      <p align='center' style="text-align:center" id="edit-status">Viewing Mode</p>
      <p align='center' class="editing-mode-info" style="display:block;">
          Use left sidebar to switch modes.The elements <strong>cannot</strong> be edited while in <strong>Viewing Mode</strong>.<br>
          This is to prevent accidental editing. Elements appear lighter in viewing mode.
       </p>
       <p align='center' class="editing-mode-info" style="display:block;">
           Select an element by clicking on it. You can delete an element by hitting the Delete key after you select it. <br>
           Feel free to drag and drop elements about. They can also be resized. They will be saved automatically.
      </p>
      {% endif %}
      <div id="posterboard{{posterboard.id}}" class='grid pbgrid'>
	<!-- 
	     There shouldn't be any hardcoded elements here.
	     All elements must be carefully added via jQuery and kept track of.
	     When an element is added or removed, their unique, randomly generated IDs
	     must be stored in javascript and regularly transmitted to the server
	     in an attempt to 'save' the current state of the elements.
	     All elements must be draggable, resizeable and extend properties that make
	     them editable.
	  --> 
      </div>      
      <div style="display:none" id="hidden-store">
      </div>
    </div>
{% endblock %}
