# to install run
# sudo pip install --upgrade -r requirements.txt

# you should grab the django 1.3 beta if its unavailable in pip
#django>=1.3
fabric
#django-openid
django-uni-form
django-extensions
django-debug-toolbar
django-email-confirmation
