#editbar{
    color:#FFFFFF;
    font-family:arial;
    font-size:12px;
    text-align:center;
}

#editbar h2{
    color:#FFFFFF;
    font-size:110%;
    margin:10px 10px 10px 10px;
    font-weight:bold !important;
}

#editbar a{
    color:#FFFFFF;
    text-decoration:none;
    outline: none;
}

#editbar h2 span{
    font-size:125%;
    font-weight:normal !important;
}

#editbar{
    position: absolute;
    width: auto;
    height: 350px;
    top: 500px;
    left:0px;
    z-index: 200;
    background:#000;    
}

#edit_toggle{
    float:right;
    height:342px;
    width:25px;
    background-attachment: scroll;
    background-color: #330000;
    border: 4px outset #330000;
}

#edit_toggle_img{
    padding-top:200px;
    border:0;
}

#editbar_contents{
    float:right;
    width:100px;
    height:350px;
    margin-left: 5px;
}

#editbar_contents_inner{
    float:right;
    width:auto;
    height:350px;
}

#scrollbar_container {
    float:right;
    width:auto;
    height:auto;
    padding: 41px 0 25px 0px;
    _margin-right:-3px;
} 
  
#scrollbar_content {
    float:right;
    overflow:hidden;  
    width:auto;
    height:350px;
    margin-left:0px;
    overflow-y: auto;
}

#scrollbar_content button {
    margin-bottom: 1em;
    padding: 0.5em;
}  