html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

#wrapper {
  width: 980px; 
  margin-left: auto;
  margin-right: auto;
}

#nav a {
  margin: 0 10; }

#logo {
  color: red;
  font-size: 35px; 
}
  
#logo-link {
  text-decoration: none;    
}

#content {
  text-align: left; }

#footer {
  text-align: left; }

.center {
  margin-left: auto;
  margin-right: auto; 
}

.grid {
    -moz-box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    box-shadow: 0 0 1em grey; 
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 900px;
}