html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

#wrapper {
  width: 980px; 
  margin-left: auto;
  margin-right: auto;
}

#nav a {
  margin: 0 10; }

#logo {
  color: red;
  font-size: 35px; 
}
  
#logo-link {
  text-decoration: none;    
}

#content {
  text-align: left; }

#footer {
  text-align: left; }

.center {
  margin-left: auto;
  margin-right: auto; 
}

.grid_1{
    -moz-box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    box-shadow: 0 0 1em grey; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 560px;
}

.grid_2{
    -moz-box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    box-shadow: 0 0 1em grey; 
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 660px;
}

.grid_3{
    -moz-box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    box-shadow: 0 0 1em grey; 
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 760px;
}

.grid_4{
    -moz-box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    box-shadow: 0 0 1em grey; 
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 860px;
}

.grid_5{
    -moz-box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    box-shadow: 0 0 1em grey; 
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 960px;
}

.grid{
    -moz-box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    box-shadow: 0 0 1em grey; 
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 960px;
}

/* TIMELINE START */

#timeline-editor {
    padding: 10px;
    width: 880px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0 0 0.4em grey;
    -webkit-box-shadow: 0 0 0.4em grey;
    box-shadow: 0 0 0.4em grey;
    position: relative;
    margin-top: 5px;
}

#timeline-slider {
    position: absolute;
    bottom: 10px;
    margin-left: 90px;
    margin-right: auto;
    width: 80%;
}

.state-boxes {
    border: 1px thin;
    height: 125px;
    padding-left: 10px;
}

#state-description {
    width: 40%;
    float: left;
    background-color: #C9D7D7;
}
#state-description #element-type {
    text-align: center;
    text-transform: capitalize;
}
#timeline-step-label {
    font-weight: bold;
    color: orange;
}

#state-properties {
    width: 50%;
    float: right;
}
#opacity-slider {
    height: 80%;
    margin-top: 15px;
    margin-bottom: auto;
    left: 10px;
}
#opacity-slider-label {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    bottom: 60px;
    left: 10px;
    position: relative;
}

/* TIMELINE END */

.pbgrid {
    position: relative;
}

.editing-mode-info, .editing-mode-help, .link-posterboard-info {
    display:none;
    text-align:center;
    font-size:smaller; 
    color: gray;
}

.editing-mode-help {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.link-posterboard-info {
    font-size: medium;
}

.ui-resizable-helper { border: 1px dotted gray; }
.ui-draggable { /*opacity: 0.75;*/ }
.ui-state-disabled { }

.selected-element {
    border-style: solid;
    border-width: 2px;
    border-color: orange;
}
