<html>
    <head>
        <meta content='initial-scale=1.0, user-scalable=no' name='viewport' />
        <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
        <meta content='Create dynamic lively blogs' name='description' />
        <meta content='flink dynamic' name='keywords' />
        <title>
            {% block title %}
            {% endblock %}
        </title>

        <!--
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' type='text/javascript'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js' type='text/javascript'></script>
        <link rel="stylesheet" type="text/css"
         href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/base/jquery-ui.css"/>
        -->
        <script src='{{ STATIC_URL }}js/jquery.js' type='text/javascript'></script>
        <script src='{{ STATIC_URL }}js/jquery-ui.js' type='text/javascript'></script>
        <script src='{{ STATIC_URL }}js/main.js' type='text/javascript'></script>
        <script src='{{ STATIC_URL }}js/jquery.form.js' type='text/javascript'></script>
        <script src='{{ STATIC_URL }}js/jquery.modalbox-1.2.0-min.js' type='text/javascript'></script>
        <script src='{{ STATIC_URL }}js/jScrollPane.js' type='text/javascript'></script>

        <link href='{{ STATIC_URL }}css/jquery-ui.css' type='text/css' rel='stylesheet' />
        <link href='{{ STATIC_URL }}css/main.css' type='text/css' rel='stylesheet' />
        <link href='{{ STATIC_URL }}css/jquery.modalbox-1.2.0/jquery.modalbox.css' type='text/css' rel='stylesheet' />

        {% block extra_head %}
        {% endblock %}

        <script type="text/javascript">
        $(document).ready(function(){
            $('#new-posterboards-link').click(function() {
                $.ajax({
                      url: '/people/{{ user.username }}/posterboards/new/',
                      type: 'POST',
                      data: {'csrfmiddlewaretoken': '{{ csrf_token}}'},
                      headers: {"X-CSRFToken": getCookie('csrftoken')},
                      dataType: 'html',
                      success: function(data) {
                          $.fn.modalBox({
                              directCall: { data: data }
                          });
                      },
                      error: function(data) {
                          $.fn.modalBox({
                              directCall: { data: "<p> An error occured while creating this form." +
                                                       " We are looking into the issue.</p>" }
                          });
                      }
                });
            });
        });
        </script>

    </head>
    <body>
        {% block body %}
            <div id='wrapper'>
                {% block header %}
                {% endblock %}
                {% block nav %}
                    <div id='nav'>
                        <a href="/" id="logo-link"><span id='logo'>flink</span></a>
                        {% if user.is_authenticated %}
                            <a href='/people/{{user.username}}'>
                                Your Blog
                            </a>
                            <a href='/people/'>
                                People
                            </a>
                            <a href='/profile/'>
                                Settings
                            </a>
                            {% if not user.is_staff %}
                            <span id='nav_bar_right' align='right' style='text-align: right'>
                                <a class="openmodalbox" id="new-posterboards-link" href="javascript:void(0);">
                                    New Posterboard
                                </a>
                            </span>
                            {% endif %}
                            <a href='/accounts/logout/'>
                                Logout
                            </a>
                        {% else %}
                            <a href='/people/'>
                                People
                            </a>
                            <a href='/accounts/login/'>
                                Login
                            </a>
                            <a href='/accounts/signup/'>
                                Sign Up
                            </a>
                        {% endif %}
                        <hr />
                    </div>
                {% endblock %}
                {% block errors %}
                {% if errors %}
                    <p>Errors: {{ errors }}</p>
                {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock %}
                {% block footer %}
                    <hr />
                    2011 flink
                {% endblock %}
            </div>
        {% endblock %}
        {% block extra_body %}
        {% endblock %}
    </body>
</html>
